p[data-v-1c6ecb99]{font-size:.75rem;line-height:1rem}@media(min-width:640px){p[data-v-1c6ecb99]{font-size:.875rem;line-height:1.25rem}}@media(min-width:768px){p[data-v-1c6ecb99]{font-size:1rem;line-height:1.5rem}}
