.text-input[data-v-d42c12e9]{margin:0;width:100%;border-radius:.25rem;border-width:1px;border-color:var(--color-primary);--tw-bg-opacity: 1;background-color:rgb(55 65 81 / var(--tw-bg-opacity));padding:.5rem}
